.idea
.idea/*
dist/*
.pytest_cache/*
.tox/*
.coverage
.DS_Store
*__pycache__*
.serverless
models
world_worst_serverless/*/.serverless/*
worlds_worst_serverless/*/node_modules/*
worlds_worst_serverless/*/.requirements.zip
worlds_worst_serverless/worlds_worst_combat/translate.py